// color variables
$primary-color: #ad38af;
$navbar-blue: #4056A1;
$muted-color: #7e7a6e;
$hover-color: #545149;
$hover-blue: cornflowerblue;
$text-color: #FFFFFF;
$background-color: #f4f1ec;
$error-color: #8a0000;

//font stack variables
$font-stack-bung: "Bungee", sans-serif;
$font-stack-source: "Source Sans Pro", sans-serif;

//breakpoint variable
$tablet-breakpoint: 1024px;