header {
  display: flex;
  height: 375px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #fa81fc;
  background-image: url("/images/dust.png");
}

.name {
  margin: 0;
}