header {
  display: flex;
  height: 400px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #f6acf7;
  background-image: url("/images/cartographer.png");
}

.name {
  margin: 0;
}