nav {
  height: 100px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFF;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

span {
  display: flex;
  justify-content: space-between;
  margin: 1.5em;
}

.title {
  font-family: "Bungee", sans-serif;
}